@tailwind components;
@tailwind utilities;

@layer components {
	.App {
		width: 100vw;
		height: 100vh;
		background-color: theme("backgroundColor.white");
		dispaly: flex;
		justify-content: center;
		align-items: center;
	}
}
